body {
	background-color: #131313;
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 3px;
	margin-top: 0;
}

.uLine {
	text-decoration: underline;
}

.purple {
	color: #fe00f6 !important;
}

.blue {
	color: #011efe !important;
}

#menuWrapper {
	transition: transform 0.5s;
	color: #FFF;
	position: absolute;
	width: 1050px;
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
	margin-right: -50%;
}

.menuShrinkOut {
	transform: scale(.000001) !important;
}

.menuBoxes {
	background-color: #262626;
	border-radius: 1px;	
	box-shadow: 2px 6px 0 #191919;
	float: left;
	padding: 20px;
	vertical-align: top;
	box-sizing: border-box;
	width: 30%;
	margin: 10px;
	max-height: 300px;
	overflow-y: hidden;
}

#title {
	width: 100%;
	color: #fff;
	font-size: 96px;
	text-align: center;
	text-shadow: 5px 5px 0px gray;
	margin-bottom: 80px;
	user-select: none;
}

#endlessMenu button {
	cursor: pointer;
	width: 100%;
	height: 30px;
	margin-top: 5px;
	font-size: 15px;
	border-radius: 5px 5px 5px 5px;
	background-color: #9b0000;
	user-select: none;
	border: none;
	outline: none;
	transition: 0.5s;
}

#endlessButton {
	background-color: #d60000 !important;
	font-weight: bold;
}

#endlessButton:hover {
	color: #FFF;
}

.growButton {
	background-color: #eee;
	padding: 5px;
}

.growButton:before {
	color: #9b2e00;
	margin-left: 5px;
	margin-right: 10px;
	display: inline-block;
	content: " \25B6";
	transition: transform 0.2s;
}

.growButton:hover:before, .active:before {
	display: inline-block;
	content: "\25B6";
	transform: rotate(90deg);
}

.active, .growButton:hover {
	background-color: #ff7435;
	color: #fff;
}

.active {
	border-radius: 5px 5px 0 0 !important;
}

.panel {
	padding: 0 5px 0 5px;
	color: #a5a5a5;
	background-color: #840000;
	border-radius: 0 0 5px 5px !important;
	max-height: 0;
	overflow-y: hidden;
	transition: max-height 0.2s ease-out;
}

#canvas {
	position: fixed;
	z-index: -1;
	transition: all 0.5s;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
}
